<ion-view ng-init="initData()" title="Path Finder">
  <ion-content ui-view class="padding">
     <div>
  	   <h1>Located on:</h1>
  	 </div>

      <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Name:</span>
            <input type="text" value={{resultInfo.display}} readonly>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Office:</span>
            <input type="text" value={{resultInfo.office}} readonly>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Phone:</span>
            <input type="text" value={{resultInfo.phone}} readonly>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Cube:</span>
            <input type="text" value={{resultInfo.cube}} readonly>
        </label>
        <a href="#/map/{{resultInfo.building + 'f' + resultInfo.floor}}">
            <button class="button button-full button-positive">
               MAP IT
            </button>
        </a>
    </div>
  </ion-content>
</ion-view>