<ion-view title="Path Finder {{mapId}}">
  	<ion-content ui-view class="padding">
  		<ion-scroll zooming="true" direction="xy">
  			<div class="list card">
				
				<svg height="1000" width="1000">
				  <circle cx="100" cy="100" r="5" stroke="black" stroke-width="3" fill="red" />
				  <!-- <div class="item item-image"> -->
					<image id="img" x="10" y="20" degrees='angle' rotate xlink:href="img/assets/map_images/4301f5.png">
				<!-- </div> -->
				</svg>
			</div>
		</ion-scroll>
  	</ion-content>
</ion-view>