$sidebarwidth: 	20%;

.left-container {
	float: left;
	width: $sidebarwidth;
	//border:solid red;
}

.right-container {
	float: right;
	width: $sidebarwidth;
	//border:solid red;
}

.container-div {
	float: left;
	width: 60%;
}

.fit {
	table-layout:fixed;
	width: 60%;
}

.header {
	border-bottom: 5px solid black;
	border-bottom-radius: 2em;
}

table {
	td {
		width: 10%;
		position:relative;
		border: 2px solid #a1a1a1;
		border-radius: 8px;
		input {
			width: 87%;
			position:absolute;
		    top:0;
		    bottom:0;
		    left:0;
		    right:0;
		    text-align: center;
		    font-size: 35px;
		    font-style: italic;
		    color: #B43004;
		}
	}
  	margin: 0 auto;
  	margin-top: 10%;
  	border: 2px solid #a1a1a1;
  	border-radius: 8px;
}

td:after {
	content:'';
    display:block;
    margin-top:100%;
}

.bg-color1 {
	background-color: #D8E0CE;
}

.bg-color2 {
	background-color: #EFECE5;
}

.error-bg-color {
	background-color: #ffbdbd;
	
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.disabled-content {
	font-style: bold;
	color: #000000;
}